.App {

}

/***** NAV BAR *****/
nav{
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  left: 0; /* start at left */
  padding: 10px 40px;
  z-index: 1000;
}
.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}
#leftNav a{
  padding: 10px;
}
#rightNav a{
  padding: 5px;
}

.navbar-brand{
  font-weight: bold;
  font-size: 1.2rem;
}


/*****  INTRO SECTION  *****/
.intro {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 0 75px 0 75px;
  padding-top: 200px;
}

/* CODE BELOW WAS DEFAULT CSS
*{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/