* {
  border: transparent solid 1px;
}
.App {
  max-width: 100%;
  height: auto;
  text-align: center;
}

/***** NAV BAR *****/
nav{
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  left: 0; /* start at left */
  padding: 10px 40px;
  z-index: 1000;
}
.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}
#leftNav a{
  padding: 10px;
}
#rightNav a{
  padding: 5px;
}

.navbar-brand{
  font-weight: bold;
  font-size: 1.2rem;
}

/**** CONTENT SECTION  ****/
.content  div {
  padding: 25px 0;
}
.content > div {
  margin: 0 17vw;
}
.content .intro{
  padding-top: 200px;
}

/*****  INTRO SECTION  *****/
.intro {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;

}
.intro h2 {
  font-size: 2.5rem;
  margin: 5px 10px 10px 10px;
}
.intro p {
  font-size: 1.25rem;
  margin: 10px 10vw;
}

/*****  ABOUT SECTION  *****/
.about {
  text-align: left;
}

.aboutMeInfo{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.aboutText ul {
  font-size: 1.15rem;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.aboutImage img {
  height: auto;
  max-width: 400px;
  border-radius: 5%;

}

/* CODE BELOW WAS DEFAULT CSS
*{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/