 /* ========== GLOBAL RESET ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Down below for debugging */
  /* border: 1px solid red; */
}

 /* ========== APP CONTAINER ========== */
 .App {
   width: min(90vw, 1100px);
   margin: 0 auto;
   text-align: center;
 }

 /* ========== NAV BAR ========== */
nav{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  left: 0; /* start at left */
  padding: 10px 40px;
  z-index: 1000;
}

.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

#leftNav a, #rightNav a{
  padding: 10px;
}

.navbar-brand{
  font-weight: bold;
  font-size: 1.2rem;
}

 /* ========== MAIN CONTENT AREA ========== */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content > div {
  padding: 25px 0;
  width: min(85vw, 900px);
  margin: 0 auto;
}


 /* ========== INTRO SECTION ========== */
 .intro {
   height: calc(100vh - 80px);
   display: flex;
   flex-direction: column;
   justify-content: center; /* vertical center */
   align-items: center;     /* horizontal center */
   padding-top: 80px;       /* offset for fixed nav */
 }
.intro h2 {
  font-size: 2.5rem;
  margin: 5px 10px 10px 10px;
}
.intro p {
  font-size: 1.25rem;
  margin: 10px 10vw;
}

 .scroll-arrow {
   font-size: 2rem;
   margin-top: 2rem;
   cursor: default;
   color: #888;
   text-decoration: none;
   display: inline-block;

   animation: bounce 1.5s ease-in-out infinite;
   opacity: 1;
 }

 .scroll-arrow:hover {
   color: #000;
 }

 @keyframes bounce {
   0%, 100% {
     transform: translateY(0);
   }
   50% {
     transform: translateY(8px);
   }
 }


 /* ========== ABOUT SECTION========== */
.about {
  text-align: left;
}

.aboutMeInfo{
  display: flex;
  justify-content: space-between;
}

.aboutText ul {
  font-size: 1.15rem;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30px;
}
.aboutImage img {
  max-width: 400px;
  height: auto;
  border-radius: 5%;
  box-shadow: 3px 3px 5px #000;
  transition: top ease 0.2s;
  position: relative;
  top:0;
  border: none;
}
.aboutImage img:hover {
  box-shadow: 3px 3px 10px #000;
  top: -10px;
}

.aboutBottomText{
  margin-top: -10px;
}

 /* ========== EXPERIENCE SECTION ========== */
.experience {
  text-align: left;
}
.experience-container {
  display: flex;
  flex-direction: row;
}



/* CODE BELOW WAS DEFAULT CSS
*{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/